@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

tr:nth-child(even) {background-color: rgb(164, 203, 216);}

th { 
    background-color: #0d78ff;
}

tr {
    font-family: Roboto;
    font-size: 15px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }